body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;  
}
#image{
    background-color: gray;
    background: url(../imagesLogin/Backround.jpg) no-repeat ;
    background-size:cover;
    background-position: center;
    width:100%;
    height:625px;
}

#mainForm{
    opacity:87%;
}

.Registerbox{
    width: 320px;
    height: 420px;
    background: rgb(26, 26, 26);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.Registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.Registerbox input{
    width: 100%;
    margin-bottom: 20px;
}

.Registerbox input[type="text"], input[type="password"],input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.Registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #473f3f;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.Registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.Registerbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.Registerbox a:hover
{
    color: #ffc107;
}

.background{

    opacity: 0.5;
}

/*
HEADERIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
*/

.listaHeader a{
    color:rgb(233, 222, 222);
    font-weight: bold;
}
#headerDjathtas{  
    width: 70%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-top:10px;
    
}
#headdUL{
    display:flex;
    flex-direction: row;
    
}
#headdUL li{
    list-style-type: none;
    margin-right: 15px;
    
}
#headerMajtas{
    width: 30%;
    height:100%;
    display: flex;  
    align-content: center;
    align-items: center;
    margin-top:10px;
}

/* #headmUL li img{
    width:150px;
    height:50px;
    
} */

#headmUL{
    display:flex;
    flex-direction: row;
}
#headmUL li{
margin-left: 15px;
list-style-type: none;
}
li a {
    text-decoration: none;
}
li a:hover{
    /* border-bottom: 2px solid rgb(197, 176, 218); */
    color:rgba(255, 151, 151, 0.87);
}
header{
    display:flex;
    flex-direction: row;
    width:80%;
    height:50px;
    margin:0 auto;
    font-family: 'Microsoft JhengHei Light';
    font-size: 17px;
    opacity:50%;
    background: none;
}